.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level3 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level3 h3 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

#dataset-links{
margin-top: 50px;  
}
